// Goolge fonts
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel&family=Dancing+Script:wght@500&family=Raleway:wght@200;300;400;500&display=swap");

// Variables
$cinzelFont: Cinzel, sans-serif;
$ralewayFont: Raleway, sans-serif;
$fontAwesomeColor: #fff;
$headingFontColor: #fff;
$backgroundColor: #000c14;
$greenBackground: #0cc489;

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  position: relative;
  background-color: $backgroundColor;
  overflow: hidden;
}

// Main container
.container {
  width: 100vw;
  height: 100vh;
  @include flex(column, space-between, center);
  background: url("http://bit.ly/2gPLxZ4");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;

  // Header section
  .header {
    width: 100vw;
    height: 15vh;
    padding: 4.5rem 8rem 0rem 8rem;
    @include flex(row, space-between, center);

    .name {
      font-family: $cinzelFont;
      font-size: 2.8vw;
      background-image: linear-gradient(to right, #0c1e31, #38506e, #942348);
      background-size: 100%;
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
      letter-spacing: 2.5px;
      color: $headingFontColor;
    }

    .links {
      @include flex(row, space-between, center);
      width: 30%;
      color: #fff;
      font-size: 2.4rem;
      cursor: pointer;

      .link {
        user-select: none;
        transition: all 0.1s linear;
      }

      .fa-google:hover {
        color: #f4b400;
      }

      .fa-github:hover {
        color: #000;
      }

      .fa-linkedin:hover {
        color: #2867b2;
      }

      .fa-file-download {
        position: relative;

        &:hover {
          color: #ee4a3b;
        }

        .resume-popup {
          background-color: rgba(0, 0, 0, 0.3);
          position: absolute;
          width: 160px;
          padding: 1rem;
          top: 0;
          left: -80px;
          font-family: $ralewayFont;
          font-size: 1.3rem;
          font-weight: 300;
          text-align: center;
          color: #fff;
          border-radius: 1rem;
          visibility: hidden;
          z-index: 10;
          transform: translateY(-60%);
          transition: transform 0.3s ease-out;
        }

        &:hover .resume-popup {
          visibility: visible;
          transform: translateY(-130%);
        }
      }
    }
  }

  // arrow section Styles
  .arrow-container {
    width: 100vw;
    height: 20vh;
    @include flex(row, center, flex-end);
    padding: 2rem;
    transform-origin: center;
    transition: transform 0.3s ease-out;

    // Arrow indicator
    .arrow {
      cursor: pointer;
      animation: rubberband 1.667s linear 0s infinite normal both;

      img {
        height: 80px;
      }
    }
  }

  .projects {
    cursor: pointer;
    position: fixed;
    width: 280px;
    height: 420px;
    top: 200%;
    left: 50%;
    background: inherit;
    border-radius: 10px;
    overflow: hidden;
    margin: 100px auto;
    pointer-events: none;
    box-shadow: -10px 0 20px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-out 0.05s;

    &::after {
      content: "";
      width: 125%;
      height: 125%;
      top: -20px;
      left: -20px;
      background: inherit;
      position: absolute;
      box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.03);
      filter: blur(10px);
    }

    &:not(:first-child) {
      margin-left: -150px;
    }

    &:hover {
      transform: translateY(-3rem);
      background-position: 0px 80px;
      box-shadow: -10px 10px 30px 3px rgba(0, 0, 0, 0.4);
    }

    &:hover ~ .projects {
      transform: translateX(9vw);
    }

    .project__content {
      position: absolute;
      z-index: 10;
      width: 280px;
      height: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .poster {
        user-select: none;
        width: 100%;
        height: 180px;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      .tech-stack {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 10px 0;

        img {
          width: 32px;
          height: 32px;
          margin: 8px;
        }
      }
    }
  }
}

// Utility classes
.move-up {
  animation: moveUp 0.6s ease;
}

.has-pointer-events {
  pointer-events: auto !important;
}

.rotate-smooth {
  align-items: flex-start !important;
  transform: rotate(180deg);
}

// Animations
@keyframes moveUp {
  0% {
    top: 200%;
  }

  100% {
    top: 130px;
  }
}

@keyframes rubberband {
  0% {
    transform: scaleX(1.25) scaleY(0.75);
  }
  2% {
    transform: scaleX(1.692) scaleY(0.748);
  }
  4% {
    transform: scaleX(2.162) scaleY(0.808);
  }
  6% {
    transform: scaleX(2.128) scaleY(0.912);
  }
  8% {
    transform: scaleX(1.748) scaleY(1.016);
  }
  10% {
    transform: scaleX(1.226) scaleY(1.087);
  }
  12% {
    transform: scaleX(0.778) scaleY(1.111);
  }
  14% {
    transform: scaleX(0.524) scaleY(1.093);
  }
  16% {
    transform: scaleX(0.489) scaleY(1.05);
  }
  18% {
    transform: scaleX(0.627) scaleY(1.003);
  }
  20% {
    transform: scaleX(0.845) scaleY(0.968);
  }
  22% {
    transform: scaleX(1.056) scaleY(0.952);
  }
  24% {
    transform: scaleX(1.19) scaleY(0.957);
  }
  26% {
    transform: scaleX(1.227) scaleY(0.973);
  }
  28% {
    transform: scaleX(1.182) scaleY(0.994);
  }
  30% {
    transform: scaleX(1.09) scaleY(1.011);
  }
  32% {
    transform: scaleX(0.996) scaleY(1.02);
  }
  34% {
    transform: scaleX(0.927);
  }
  36% {
    transform: scaleX(0.901) scaleY(1.014);
  }
  38% {
    transform: scaleX(0.913) scaleY(1.005);
  }
  40% {
    transform: scaleX(0.95) scaleY(0.997);
  }
  42% {
    transform: scaleX(0.993) scaleY(0.992);
  }
  44% {
    transform: scaleX(1.026);
  }
  46% {
    transform: scaleX(1.042);
  }
  48% {
    transform: scaleX(1.04) scaleY(0.997);
  }
  50% {
    transform: scaleX(1.026) scaleY(1.001);
  }
  52% {
    transform: scaleX(1.007) scaleY(1.003);
  }
  54% {
    transform: scaleX(0.991);
  }
  56% {
    transform: scaleX(0.983);
  }
  60% {
    transform: scaleX(0.987) scaleY(1);
  }
  62% {
    transform: scaleX(0.995);
  }
  64% {
    transform: scaleX(1.002) scaleY(0.998);
  }
  66% {
    transform: scaleX(1.007);
  }
  70% {
    transform: scaleY(1);
  }
  72% {
    transform: scaleX(1.003);
  }
  74% {
    transform: scaleX(1);
  }
  76% {
    transform: scaleX(0.997);
  }
  84% {
    transform: scaleX(1);
  }
  88% {
    transform: scaleX(1.002);
  }
  96% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
